# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\java-oop-odev-tugbayavuzz\bootcamp-oop-assignment\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
